$text-color:#F1F5F6;
$background:#28282b;

$secondary: #76BDC0;
$third: #16B38B;
$fourth: #757E7D;

@mixin respond-to($media){
  @if $media == mobile {
      @media only screen and (max-width: 850px) { @content; }
  }
}

// CONTENT
*{
  transition: all 0.3 ease;
}
h1,h2,h3,h4,h5,p{
  margin: 0;
}
body{
  color:$text-color;
  font-family: "Nunito Sans";
  text-align: center;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background: $background;
  // overflow-x: hidden;
}
button{
  padding: 10px 20px;
  font-size: 1.2em;
  color: $text-color;
  border: 2px solid $text-color;
  border-radius: 2px;
  background: rgba(0,0,0,0);
}
button:hover{
  cursor: pointer;
  background: $text-color;
  box-shadow: 0 0 5px 5px rgba(white, .1);
}
section{
  // min-height: 100vh;
  padding: 50px 0;
  width: 100%;
  h2{
    font-size: 2em;
    margin: 40px 0;
  }
  h3{
    width: 50vw;
    font-size:1.2em;
    font-weight: 300;
    margin: 40px auto;

    @include respond-to(mobile){
      width: 80vw;
    }
  }
}

// LANDING
#landing{
  padding: 0;
  height: 100vh;
  background: $background;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include respond-to(mobile){
    flex-direction: row;
  }

  div#cont{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 0 10vw;
  }
  div#desc{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1{
    font-size: 3.0em;
    // letter-spacing: .1em;
    // font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 1px solid $text-color;
  }
  h3{
    width: inherit;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  p{
    margin: 10px 0;
    margin-bottom: 50px;
  }
  img{
    height: 300px;
    max-width: 500px;
    @include respond-to(mobile){
      display: none;
    }
    // box-shadow: 2px 2px 5px 5px rgba(white, .1);
    // transform:skew(0deg, 5deg);
  }
  button:hover{
    color:$background;
  }
}
@keyframes grass {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(1px);  
  }
  100% {
    transform: translateX(0px);
  }
}
#grass{
  z-index: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: url("../img/havengrass.png");
  opacity: .7;
  // animation-name: grass;
  // animation-duration: 2s;
  // animation-iteration-count: infinite;
}

// FEATURES
.features{
  img{
    display: block;
    margin: 20px auto;
    width: 50vw;

    @include respond-to(mobile){
      width:80vw;
    }
  }
}

.features:nth-child(odd){
  background: $secondary;

  .arrow-down {
    border-top: 20px solid $secondary;
  }
  button:hover{
    color: $secondary;

  }
}
.features:nth-child(even){
  background: $third;
  
  .arrow-down {
    border-top: 20px solid $third;
  }
  button:hover{
    color: $third;
  }
}
.arrow-down{
  position: relative;
  margin: 0 auto;
  bottom: -70px;
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;

  @include respond-to(mobile){
    bottom: -60px;
  }
}
.feature-break{
  height: 1px;
  background: rgba( $text-color, .5);
  margin: 40px auto;
  width: 40vw;

  @include respond-to(mobile){
    display: none;
  }
}
.feature-gallery{
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // flex-wrap: wrap;
  width: 70vw;

  @include respond-to(mobile){
    width: 80vw;
    flex-wrap: wrap;
  }

  .feature-item {
    padding: 0 40px;
    width: calc(25vw - 80px);
    border-right: 1px solid rgba( $text-color, .5);

    @include respond-to(mobile){
      width: auto;
      border: none;
    }

    h4{
      margin: 20px 0;
      font-size: 1.3em;
    }
    p{
      margin: 20px 0;
      font-size: 1.1em;
      font-weight: 300;
    }
    img{
      display: block;
      height: 100px;
      width: 100px;
    }
  }
  :last-child{
    border: none;
  }
}

// DOWNLOAD
#download{
  background: $fourth;

  #download-links{
    display: flex;
    flex-direction: row;
    justify-content: center;

    img{
      margin: 40px;
      height: 100px;
      width: 100px;
    }
    img:hover{
      cursor: pointer;
      opacity: 0.5;
    }
  }
}

// FOOTER
footer{
  padding: 20px 0;
}