* {
  transition: all 0.3 ease; }

h1, h2, h3, h4, h5, p {
  margin: 0; }

body {
  color: #F1F5F6;
  font-family: "Nunito Sans";
  text-align: center;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background: #28282b; }

button {
  padding: 10px 20px;
  font-size: 1.2em;
  color: #F1F5F6;
  border: 2px solid #F1F5F6;
  border-radius: 2px;
  background: transparent; }

button:hover {
  cursor: pointer;
  background: #F1F5F6;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.1); }

section {
  padding: 50px 0;
  width: 100%; }
  section h2 {
    font-size: 2em;
    margin: 40px 0; }
  section h3 {
    width: 50vw;
    font-size: 1.2em;
    font-weight: 300;
    margin: 40px auto; }
    @media only screen and (max-width: 850px) {
      section h3 {
        width: 80vw; } }

#landing {
  padding: 0;
  height: 100vh;
  background: #28282b;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (max-width: 850px) {
    #landing {
      flex-direction: row; } }
  #landing div#cont {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 0 10vw; }
  #landing div#desc {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #landing h1 {
    font-size: 3.0em;
    padding-bottom: 20px;
    border-bottom: 1px solid #F1F5F6; }
  #landing h3 {
    width: inherit;
    font-size: 1.5em;
    margin-bottom: 10px; }
  #landing p {
    margin: 10px 0;
    margin-bottom: 50px; }
  #landing img {
    height: 300px;
    max-width: 500px; }
    @media only screen and (max-width: 850px) {
      #landing img {
        display: none; } }
  #landing button:hover {
    color: #28282b; }

@keyframes grass {
  0% {
    transform: translateX(0px); }
  50% {
    transform: translateX(1px); }
  100% {
    transform: translateX(0px); } }

#grass {
  z-index: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: url("../img/havengrass.png");
  opacity: .7; }

.features img {
  display: block;
  margin: 20px auto;
  width: 50vw; }
  @media only screen and (max-width: 850px) {
    .features img {
      width: 80vw; } }

.features:nth-child(odd) {
  background: #76BDC0; }
  .features:nth-child(odd) .arrow-down {
    border-top: 20px solid #76BDC0; }
  .features:nth-child(odd) button:hover {
    color: #76BDC0; }

.features:nth-child(even) {
  background: #16B38B; }
  .features:nth-child(even) .arrow-down {
    border-top: 20px solid #16B38B; }
  .features:nth-child(even) button:hover {
    color: #16B38B; }

.arrow-down {
  position: relative;
  margin: 0 auto;
  bottom: -70px;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent; }
  @media only screen and (max-width: 850px) {
    .arrow-down {
      bottom: -60px; } }

.feature-break {
  height: 1px;
  background: rgba(241, 245, 246, 0.5);
  margin: 40px auto;
  width: 40vw; }
  @media only screen and (max-width: 850px) {
    .feature-break {
      display: none; } }

.feature-gallery {
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70vw; }
  @media only screen and (max-width: 850px) {
    .feature-gallery {
      width: 80vw;
      flex-wrap: wrap; } }
  .feature-gallery .feature-item {
    padding: 0 40px;
    width: calc(25vw - 80px);
    border-right: 1px solid rgba(241, 245, 246, 0.5); }
    @media only screen and (max-width: 850px) {
      .feature-gallery .feature-item {
        width: auto;
        border: none; } }
    .feature-gallery .feature-item h4 {
      margin: 20px 0;
      font-size: 1.3em; }
    .feature-gallery .feature-item p {
      margin: 20px 0;
      font-size: 1.1em;
      font-weight: 300; }
    .feature-gallery .feature-item img {
      display: block;
      height: 100px;
      width: 100px; }
  .feature-gallery :last-child {
    border: none; }

#download {
  background: #757E7D; }
  #download #download-links {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    #download #download-links img {
      margin: 40px;
      height: 100px;
      width: 100px; }
    #download #download-links img:hover {
      cursor: pointer;
      opacity: 0.5; }

footer {
  padding: 20px 0; }
